.VideoPlayer {
    width: 100%;
    height: 70vh;
    background-color: #000;
    border-top: 1px #585c34 solid;
    border-bottom: 1px #585c34 solid;
}

.VideoPlayer video {
    height: 100%;
    width: 100%;
}

.VideoPlayer video:focus {
    outline: none;
}

/* mobile view */
@media (max-width: 720px) {
    .VideoPlayer {
        margin-top: 12%;
        height: 34vh;
        padding-top: 2.5vh;
        top: 30%;
    }
    .VideoPlayer video {
        width: 95%;
    }
}

/* tablet view */
@media (min-device-width: 600px) and (max-device-width: 1280px) {
    .VideoPlayer {
        margin-top: 9%;
        height: 34vh;
        padding-top: 2.5vh;
        top: 30%;
    }
    .VideoPlayer video {
        max-width: 95%;
    }
}
