.App {
  background-color: #282c34;
  color: pink;
}

.App button {
  background: pink;
  border: 1px solid pink;
  border-radius: 5px;
  cursor: pointer;
}

.App a {
  color: #61dafb;
}

.App button:hover {
  opacity: 0.9;
}

.App-header {
  height: 50px;
  padding: 20px;
  color: white;
}

.App-logo {
  margin-left: 0;
}

.App-icon {
  display: inline-block;
  text-align: center;
  background-color: pink;
  padding: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.App-name {
  margin-left: 10px;
  font-size: 30px;
  font-weight: bolder;
  vertical-align: super;
  color: pink;
}

.App-logo img {
  margin: 5px auto;
}

.App-body {
  text-align: center;
}

.App-Video-Actions button {
  padding: 12px;
  margin: 15px 5px;
  border: 3px solid #555;
  border-radius: 7px;
  font-weight: bold;
  display: inline-block;
}