.App {
  background-color: #000;
  color: pink;
}

.App .default-button {
  background: pink;
  border: 1px solid pink;
  border-radius: 5px;
  cursor: pointer;
}

.App a {
  color: pink;
  opacity: 0.8;
}

.App .default-button:hover {
  opacity: 0.9;
}

.App-header {
  height: 50px;
  padding: 20px;
  color: white;
}

.App-logo {
  margin-left: 0;
}

.App-icon {
  display: inline-block;
  text-align: center;
  background-color: pink;
  padding: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.App-name {
  margin-left: 10px;
  font-size: 18px;
  font-weight: bolder;
  vertical-align: super;
  color: pink;
}

.App-logo img {
  margin: 5px auto;
}

.App-body {
  text-align: center;
}

.App-Feature-Notes {
  margin: 0 auto;
  margin-top: 50px;
  text-align: left;
  max-width: 660px;
}

.App-Feature-Notes > div {
  display: inline-block;
  padding: 0 15px;
  vertical-align: text-top;
  font-size: 14px;
  max-width: 300px;
}

.App-Video-Actions .default-button {
  padding: 12px;
  margin: 15px 5px;
  border: 3px solid #555;
  border-radius: 7px;
  font-weight: bold;
  display: inline-block;
}

.hide {
  display: none;
}

/* mobile view */
@media (max-width: 720px) {
  .App-name {
    margin-left: 8px;
    font-size: 20px;
  }

  .App-Feature-Notes {
    max-width: 400px;
  }
}

/* tablet view */
@media (min-device-width: 600px) and (max-device-width: 1280px) {
  .App-name {
    margin-left: 8px;
    font-size: 20px;
  }
}
